.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: green;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

input {
  margin: 2px;
}

table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid black;
  padding: 10px;
}

thead {
  background-color: green;
}
